<!-- Begin Page Content -->
<div class="container-fluid">
  <h1 class="mb-4">Bài viết mới</h1>

  <form action="/users/articles" method="POST">
    <%- include('_form_fields') %>
  </form>
</div>
<!-- /.container-fluid -->