<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Tips sử dụng hiệu quả</h1>
  <p class="mb-4">
    Để tìm kiếm theo một tiêu chí (ví dụ như Description) thì phải
    click chọn vào cột đó sau đó mới thực hiện tìm kiếm.
  </p>
  <div class="card-body">
    <a href="/users/categories/new" class="btn btn-success">Tạo danh mục mới</a>
  </div>
  <!-- DataTales -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
        Danh sách bài viết
      </h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Tiêu đề</th>
              <th>Mô tả</th>
              <th>Thao tác</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Tiêu đề</th>
              <th>Mô tả</th>
              <th>Thao tác</th>
            </tr>
          </tfoot>
          <tbody>
            <% categories.forEach(category => { %>
            <tr>
              <td><%= category.title %></td>
              <td><%= category.description %></td>
              <td>
                <ul class="list-inline mt-0 mb-0">
                  <li class="list-inline-item">
                    <a href="/users/categories/edit/<%= category.id %>" class="btn btn-info mt-1 mb-1">
                      <i class="fa fa-edit"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <form action="/users/categories/<%= category.id %>?_method=DELETE" method="POST">
                      <button type="submit" class="btn btn-danger mt-1 mb-1">
                        <i class="fa fa-trash"></i>
                      </button>
                    </form>
                  </li>
                </ul>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->